[2019-10-06 07:58] Kerollmops opened #1 "Type check the database openings"
When you open a database you specified the key and data types, the library doesn't currently ensure that the second and next times you open databases it is of the types are the same that the first time.

We could ensure that the database types are the same at runtime time, for now the following technic can't ensure that types are the same between program runs. [Redis does this by asking for type n

[2019-10-06 08:29] Kerollmops opened #2 "Support dynamic database types"
With the current `BytesEncode/Decode` traits it is feasible to open databases without ensuring the type for the entire `Database` living but for each `get/put` calls.

Doing so would be cool for Database that can store different data types but what about iterators? How would we deal with them?

We can specify that an iterator will always yield key/data of the same types for the `Iter` living it co

[2019-10-06 08:34] Kerollmops opened #3 "Make the environments opening safe"
We could use the same approch as the [`rkv::Manager`](https://docs.rs/rkv/0.10.2/rkv/struct.Manager.html) to ensure that an environment located at a given path is opened only once by program.

It is a simple singleton `HashMap` storing the canonicalized path and its associated environments. When the user want to open one, it uses the `Manager` which will give the already opened one or will return

[2019-10-06 08:38] Kerollmops opened #4 "Support Deserialize<'txn> instead of DeserializeOwned"
We should be able to support `Deserialize<'txn>` when deserializing types from the byte slice returned by LMDB not only `DeserializeOwned`. This improvement would allow much better performances when deserializing types that do not necessarily need to copy the data (e.g. big json of `&str`).

https://serde.rs/lifetimes.html#the-deserializede-lifetime

[2019-10-08 19:07] #4 closed, assigned to Kerollmops

[2019-10-11 16:27] Kerollmops opened #5 "Make the LmdbError::Other variant be change into an io::Error"
We can extract the `LmdbError::Other` variant os error code, use the [io::Error::from_raw_os_error](https://doc.rust-lang.org/std/io/struct.Error.html#method.from_raw_os_error) and return an `io::Error` to the user.

[2019-10-12 09:15] #5 closed, assigned to Kerollmops

[2019-10-12 13:40] #3 closed, assigned to Kerollmops

[2019-10-12 18:22] #1 closed, assigned to Kerollmops

[2019-10-15 16:20] #2 closed

[2019-10-15 20:52] Kerollmops opened #7 "Make the typed Database wrap a DynDatabase"
This way we can reduce the amount of code.

[2019-10-16 09:24] #7 closed

[2019-10-17 11:26] erthink opened #11 "Q: would you be interested in writing rust bindings for libmdbx?"
[libmdbx](https://github.com/leo-yuriev/libmdbx#improvements-over-lmdb) is revised and extended descendant of LMDB.

[2019-10-17 14:36] leo-yuriev commented on #11
Probably my English is not very good:
1. Any cursor created by `mdb_cursor_open()`, when it becomes unnecessary, must be explicitly freed by `mdbx_cursor_close()`.
2. Any cursor created by `mdb_cursor_open()`, may be reused by `mdbx_cursor_renew()`, untils it explicitly freed by `mdbx_cursor_close()`.

[2019-10-19 17:58] Kerollmops commented on #11
Hi, I made some progress on building the mdbx bindings in Rust and found out that Rust doesn't like overflowing number like `MDBX_RESULT_TRUE: c_uint = 18446744073709551615`. And found strange that a `c_uint` is in fact an `unsigned int` and is attributed the max value of an `unsigned long` instead of the `unsigned int` one. Is it normal? I understand that it work but...

[2019-10-19 20:19] Kerollmops commented on #11
Ok so here is the [mdbx-sys repository with most of all the bindings generated in Rust](https://github.com/Kerollmops/mdbx-rs/blob/master/src/bindings.rs). I blacklisted (for now) the `MDBX_page_type_t`, `MDBX_pgvisitor_func`, `mdbx_env_pgwalk` types/functions, because of the upper cased problem and will probably `#[allow(non_upper_case_globals)]`.

[2019-10-19 21:09] Kerollmops opened #14 "Find a real name for this library"
I thought about a shorter name for this library, just remember that it is a typed key-value store based on LMDB which itself means Lightning Memory-Mapped Database.
So here is a list of names I thought of:

  - zlmdb
  - whirlwind
  - discern
  - heed
  - agile
  - deft

[2019-10-20 08:45] leo-yuriev commented on #11
1. The `MDBX_page_type_t`, `MDBX_pgvisitor_func` and  `mdbx_env_pgwalk` are an [internal/auxiliary ](https://github.com/leo-yuriev/libmdbx/blob/master/mdbx.h#L3245-L3246) API, i.e.  shouldn't be used in a regular application.

2. The problems with [error codes](https://github.com/Kerollmops/mdbx-rs/blob/f913ba8d7e8b7ee75d8f409f16f417e2c634c316/src/bindings.rs#L3-L12) since libmdbx [defines an alia

[2019-10-20 08:59] Kerollmops commented on #11
1. I will blacklist those like I did before.
  2. Do think that I will need to define those by hand? like [this part of the lib](https://github.com/Kerollmops/mdbx-rs/blob/f913ba8d7e8b7ee75d8f409f16f417e2c634c316/src/lib.rs#L8-L13)?

[2019-10-25 07:35] lquerel opened #15 "Is it possible to specify LMDB flags such as MDB_NOSYNC?"
Looks like flags are not yet supported. Did I miss them?

Thanks for this nice wrapper.

Laurent

[2019-10-25 09:19] Kerollmops commented on #15
Hi,

Heed do not support the `MDB_NOSYNC` flag for the moment in part because:
  1. I didn't needed it for my search engine
  2. The documentation is explicit on the fact that this flag is dangerous:

I am still open to pull request and will probably accept one that allow to specify this flag under an `unsafe fn no_sync()` and a `fn flush()` functions together.

[2019-10-25 09:23] #14 closed

[2019-10-25 15:01] lquerel commented on #15
Yes this kind of flag is not without risk. However in some contexts there are very useful. I need for example to build a big read only database of several billions of entries. I need to be able to rebuild it on demand and using `MDB_NOSYNC` (+ some other flags) can speed the insertion process by a lot.
I’ll send a PR this weekend. Will you accept something like an enum containing all the flags sup

[2019-10-25 16:15] Kerollmops commented on #15
Yeah absolutely, I will probably merge it if it is marked `unsafe` however :)

[2019-10-28 10:38] #15 closed

[2019-10-28 20:28] Kerollmops opened #20 "Make write transaction opening more safe"
Heed could ensure that only one write transaction is ever opened on the same thread.

It can create a [`thread_local`](https://doc.rust-lang.org/std/macro.thread_local.html) atomic counter for write transactions and raise an error (panic or not) when the user try to open a write transaction and another one is already open.

[2019-11-25 15:05] Kerollmops opened #24 "Make it compile and work on Windows"
[code]

[2019-11-25 15:13] Kerollmops commented on #24
I think we cool probably use [AsRawHandle](https://doc.rust-lang.org/std/fs/struct.File.html#impl-AsRawHandle).

[2019-12-06 17:54] #24 closed

[2019-12-16 22:37] placrosse opened #30 "Trait std::iter::DoubleEndedIterator"
Since a LMDB cursor is capable of quickly going to last, and getting the previous entry, it should support the DoubleEndedIterator, allowing last to first iteration of a range.

[2019-12-17 10:16] Kerollmops commented on #30
Yes, I thought about this but did not implement it because I did not needed it.

However, there is a little issue relative to the [`DoubleEndedIterator`](https://doc.rust-lang.org/stable/std/iter/trait.DoubleEndedIterator.html) expected behavior:

This is not how an [LMDB cursor](http://www.lmdb.tech/doc/group__mdb.html#ga1206b2af8b95e7f6b0ef6b28708c9127) work, the cursor itself moves forward and

[2019-12-20 19:38] placrosse commented on #30
I saw that issue about the double cursor.  What I really need is to be able to select the last valid key from a range, without iterating through everything.  I didn't see how it was possible in the current API.

The suggestion for DoubleEndedIterator came about while reviewing https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html#method.rev.

What do you think would be the most idiomatic

[2019-12-20 20:16] Kerollmops commented on #30
I think that using a combination of [`mdb_cursor_get`](http://www.lmdb.tech/doc/group__mdb.html#ga48df35fb102536b32dfbb801a47b4cb0) with [`MDB_SET_RANGE`](www.lmdb.tech/doc/group__mdb.html#ga1206b2af8b95e7f6b0ef6b28708c9127). Adding a method `last` to the [`RoRange` type](https://github.com/Kerollmops/heed/blob/b65740775bbbe8c55bc0beb7c028023b2a8f1554/src/db/mod.rs#L99-L104) like for the [RwRange]

[2019-12-27 20:16] placrosse commented on #30
Clément, after reviewing again the trait https://doc.rust-lang.org/nightly/std/iter/trait.DoubleEndedIterator.html, I see we only need to implement a single method properly: `fn next_back(&mut self) -> Option<Self::Item>`

I'm thinking this may not be very difficult.  How do you feel about an approach that uses the existing, single cursor, but adds a few variables to keep track of the current key

[2019-12-28 11:18] Kerollmops commented on #30
Keeping only one LMDB cursor to simulate two cursors is not the best solution in thing. The boolean overhead you talk about is hand in hand with the value of the last key visited, each time the user will call `next` follow by `next_back` (or the reverse) we need to ask LMDB to seek to the previous visited key, this is `O(log n)`.

I though that what you wanted was to find the last key of a range,

[2019-12-29 20:31] placrosse commented on #30
While finding the last key does work for a good amount of use cases, it leaves us still with an ugly solution for retrieving the last ”x” items.  I don’t see an elegant means to accomplish, for example, retrieval of the last 10 values that are within the range.

[2019-12-29 20:58] Kerollmops commented on #30
A first good enough solution that doesn't involve any overhead would be to introduce a `rev_range` method that return a `RevRange` iterator.

In a second step we could introduce a `DoubleEndedRange` that combines both iterators.

[2020-03-18 13:54] Kerollmops opened #40 "Document the safety issues with the unnamed database"
LMDB have an important restriction on the unnamed database when named ones are opened, [the names of the named databases are stored as keys in the unnamed one and are immutable](http://www.lmdb.tech/doc/group__internal.html#gac08cad5b096925642ca359a6d6f0562a).

I faced a big bug that triggered a SIGSEGV when copying all of the entries of one unnamed database into another env, heed tried to write t

[2020-03-23 01:40] JayPavlina opened #41 "Support duplicate keys"
It doesn't appear that the API supports databases with multiple values for a key (the MDB_DUPSORT flag)

[2020-03-23 08:47] Kerollmops commented on #41
Hey @JayPavlina,

Yeah, I didn’t implemented that because I wasn’t in needs of that feature.

The thing is if we want to support that we will need to create new `Database` and `PolyDatabase` types that will return an `Iterator` on `get` and a potentially different `Iterator` on `iter` (to help the user know when a value belongs to the same key, or not).

[2020-03-24 02:36] Karrq commented on #41
I'm thinking of migrating from my own lmdb wrapper to this, and this feature is interesting to me as well.
How likely is this to be implemented in the near future?

[2020-03-24 09:43] Kerollmops commented on #41
Hey everyone,

I would be glad if someone could work on that, I can guide and help him/her in the process.

Here is the list of things that must be done to make it a good abstraction.

1. Create one new raw type named `PolyMultiDatabase` akin to the `PolyDatabase` type that already exists. The only thing that change is the `get` method that will return an `RoRangeIter` with `key..=key` (and make s

[2020-05-23 22:25] myfreeweb opened #45 "master with mdbx does not compile"
[code]

[2020-05-24 10:15] #45 closed

[2020-05-24 10:17] Kerollmops commented on #45
Thank you, this CI problem revealed that there were a segfault on MDBX and this segfault was due to a problem in the abortion part, I wasn't nullifying the transaction pointer and this resulted in a double abortion issue. This is fixed, on master at least.

[2020-05-29 06:32] Kerollmops commented on #45
This is fixed and released in v0.8.0.

[2020-06-26 10:14] Kerollmops opened #51 "Create two different libraries: heed and heedx"
As a Reddit user pointed using a feature flag to make heed work with weither LMDB or MDBX is not the best way to do so.
I did this because it was the easiest way to keep the same code base and only tune some functions.

Recently I found a potential alternative to publish two libraries with two different but keep the same code base.

[code]

[code]

[code]

[code]

I am here to mentor anyone who is

[2020-07-05 21:35] myfreeweb commented on #30
Wouldn't it be possible to satisfy the "meet in the middle" requirement by counting?

i.e. `next` does `self.nexts += 1`, `next_back` does `self.next_backs += 1`, and both early-return `None` if `self.nexts + self.next_backs == self.len` (where `self.len` is a cached value of the database's `.len()`)

[2020-07-11 11:43] Kerollmops commented on #30
@myfreeweb The problem is that `self.len` doesn’t exist as the cursor is not aware of the exact number of entries lying between the bounds. Computing the length of the cursors (the number of entries between the bounds) is `O(log n)`, this can be a big overhead.

Yeah, that is a good idea!

[2020-07-21 01:09] unrelentingtech opened #55 "mdbx crashes with SIGBUS in builds with debug-assertions=false"
(Latest nightly Rust, latest versions on crates.io, FreeBSD -CURRENT)

`create_database` crashes when built with `debug-assertions = false`. This is purely about `debug-assertions`, i.e. there's no crash if `debug-assertions = true` is added to the default `[profile.release]` which has `opt-level = 3`.

[code]

[code]

[2020-07-29 14:13] Kerollmops commented on #55
@myfreeweb, thank you for this report,

Would it be possible that you try [doing the same with rkv](https://github.com/mozilla/rkv) for example? This way I can be aware of if it is related to heed or [lmdb-rkv-sys](https://github.com/mozilla/lmdb-rs).

[2020-07-29 22:23] myfreeweb commented on #55
This is strictly with MDBX, doesn't happen in heed with features=lmdb.

[2020-08-19 14:01] repi commented on #51
Would indeed be cleaner with separate crates for them I think, features don't work that well for mutually exclusive stuff. One could have a deep transitive dependency that brings in `heed` with the mdbx feature that then silently switches the compilation for ones entire project to use that. (probably not too common in practice, but not very explicit)

[2020-08-23 19:43] Kerollmops commented on #51
There is news about this way of doing things, [I will take a look at the im and im-rc crates](https://twitter.com/Erstejahre/status/1297381452158341120?s=20).

[2020-09-29 16:29] Kerollmops opened #56 "Improve the poly/database length function"
We currently create an iterator count the number of entries to returns to compute the number of entries a database stores.

There is a better way that is not `O(n)` which is using [the `num_entries` field of the `Stat` struct](https://github.com/mozilla/lmdb-rs/blob/df1c2f56e3088f097c719c57b9925ab51e26f3f4/lmdb-sys/src/bindings.rs#L182-L183) that is returned by [the `mdb_stat` function](https://gi

[2020-10-05 14:46] Kerollmops opened #57 "Clearing a database and writing to it doesn't work"
There is a potential strange behavior in LMDB where when you clear a database and write entries into it in the same transaction the database is empty after you commit.

[2020-10-09 09:30] Kerollmops opened #58 "Support of safe environment deletion"
There is a fondamental API that heed must support for the new MeiliSearch engine to be able to support index deletion, the [`mdb_env_close`](http://www.lmdb.tech/doc/group__mdb.html#ga4366c43ada8874588b6a62fbda2d1e95).

This function deletes a given environment, after an environment is safely closed it is possible to safely delete it from disk too.

The problem with this function call is that the

[2020-10-09 10:33] erthink commented on #58
I don't think you should use `NO_LOCK`. Because in this case, you need to completely repeat the locking scheme (which is not easy), or give up some features (lock-free for readers and/or access from other processes, hot backup etc). This is the reason why I removed support of `NO_LOCK` from [libmdbx](https://github.com/erthink/libmdbx).

The [KISS-way](https://en.wikipedia.org/wiki/KISS_principle)

[2020-10-29 12:56] Kerollmops commented on #57
So I just tested this bug a little bit more and it doesn't seems to be bug in LMDB, that was a bad usage on my side or something.

[2020-10-29 12:56] #57 closed

[2020-11-13 17:40] Kerollmops opened #69 "Remapping Types on Iterators"
It would be great to have a way to remap the types of the different Iterator heed types. This way it would be easier to, for example, create a `prefix_iter` based on some bytes and remap the decoding types to be the interresting ones.

Introducing the `remap_key_type` and `remap_value_type` would be great too!

https://docs.rs/heed/0.10.1/heed/struct.Database.html#method.remap_types

[2020-11-14 14:53] #69 closed

[2020-11-26 10:28] #30 closed

[2020-12-06 16:50] Kerollmops opened #82 "Moving from zerocopy to bytemuck"
This library currently uses [the zerocopy crate](https://lib.rs/zerocopy) to provide some useful codecs for common types and types which implements the [`AsBytes`](https://docs.rs/zerocopy/0.3.0/zerocopy/trait.AsBytes.html)/[`FromBytes`](https://docs.rs/zerocopy/0.3.0/zerocopy/trait.FromBytes.html) traits (i.e. `u8`, `[u8]`). I find it complex/impossible to contribute to this crate as there is no

[2020-12-19 10:57] Kerollmops commented on #58
Thank you very much @erthink for the help on this subject, [heed supports a safe way of closing an environment](https://github.com/Kerollmops/heed/pull/64) by ensuring that transactions don't live longer than the env they were created from (obviously using the Rust lifetimes), this way we are sure that it is impossible to close an environment that has open transactions.

[2020-12-19 10:57] #58 closed

[2020-12-19 11:08] Kerollmops opened #85 "Remove the PolyDatabase type"
The `PolyDatabase` was created to allow library users to open an LMDB database without specifying the key and data types, however, I think this type is just a redundant struct that forces me to port every new method and feature on the `Database` and `PolyDatabase` types.

We should remove this struct in favor of a simple alias on the `Database` struct with `ByteSlice`s, making it as simple to use

[2020-12-19 11:29] Kerollmops opened #86 "Support for custom key comparison function"
LMDB in its great design supports a lot of features, one that is quite interesting though is the fact that it allows users [to define their own comparison function](http://www.lmdb.tech/doc/group__mdb.html#ga68e47ffcf72eceec553c72b1784ee0fe). By default, when no custom function is defined, the keys are compared lexically, with shorter keys collating before longer keys.

If we want to support this,

[2020-12-29 13:01] Kerollmops opened #88 "Support custom encoding/decoding errors"
It would be better and easier to debug a program if the `BytesEncoding` and `BytesDecoding` traits could return any error type.

To do so we need to modify the `Error` enum and more specifically the `Encoding` and `Decoding` variants to wrap a `Box<dyn Error>`.

[2020-12-30 23:58] MarinPostma commented on #88
funny, I spent 3 hours debugging an error caused by just that, where a serializing error occured in a `SerdeJson`...

[2021-01-07 13:17] #85 closed

[2021-01-18 16:00] Kerollmops opened #94 "Remove the generic types of the RoTxn and RwTxn"
We introduce [a generic type to the RoTxn and RwTxn structs](https://github.com/Kerollmops/heed/blob/e7cd9f143834c750991cbe7e3d164e82799fdf33/heed/src/txn.rs#L9-L13) to make sure that we don't use a transaction created on one environment with another environment, this introduced [more methods on the Env struct to create typed transactions](https://github.com/Kerollmops/heed/pull/27/files#diff-4da8

[2021-01-22 23:59] akhilles opened #95 "Unable to create database when MDB_WRITEMAP is set"
To reproduce:
[code]
fails with:
[code]
Works fine if `env_builder.flag(Flags::MdbWriteMap);` is commented out.

[2021-01-23 10:54] #82 closed

[2021-01-25 15:44] Keats opened #97 "Support env_stat"
Taken from the python bindings docs for LMDB: https://lmdb.readthedocs.io/en/release/#lmdb.Environment.stat

Would it be possible to expose that function?

[2021-01-25 19:46] Kerollmops commented on #95
Hey, I am not sure why as I only call the LMDB methods under the hood.

[2021-01-25 19:56] Kerollmops commented on #97
Hey @Keats,

I believe it is easy to add two new methods:
  - The `Env::stat` method that just calls [`mdb_env_stat`](https://docs.rs/lmdb-rkv-sys/0.9.5/lmdb_sys/fn.mdb_env_stat.html) with the env pointer.
  - The `Database::stat` method that calls the [`mdb_env_stat`](https://docs.rs/lmdb-rkv-sys/0.9.5/lmdb_sys/fn.mdb_stat.html) with the database integer.

However, I would prefer that we return t

[2021-01-25 20:18] Keats commented on #97
What would you change?

The main thing I wanted the DB stat struct for is the number of entries to (so it's not slow like right now, solving #56 as you point out) and to calculate the space used (https://wiki.samba.org/index.php/Using_the_lmdb_database_backend#Calculating_space_used). I don't think I would need the env stat struct myself but it could definitely be added for the sake of completenes

[2021-01-25 20:20] akhilles commented on #95
Will try to reproduce using only the C library.

[2021-01-26 08:39] Kerollmops commented on #97
First thing I don't quite like is the documentation and those other fields that are not **that** obvious.

Maybe you could first fix #56 by extracting the number of entries from the `Mdb_stat` struct, this way you don't expose it, then we will introduce the new methods which return two new structs with explicit fields and maybe one that contains the _space used_?

[2021-01-28 00:37] jonsecchis opened #98 "Question about LMDB env sharing"
Hi,

I'm migrating from mozilla's `rkv`, since I'm interested in using `mdbx` and `heed` also provides all the functionality I need out of the box.

I have a doubt regarding the instantiation of Environments. In `rkv` there is a `Manager` interface for operating the database, in order to guarantee that the same environment is not opened twice.

While reviewing this crate, I noticed that you alread

[2021-01-28 09:58] Kerollmops commented on #98
Hey @jonsecchis,

I would be glad to know which functionality.

You can indeed safely open and use an environment without having to worry if it as already been opened by the same process, [I keep a map that binds the canonicalized path of the env with the opened envs](https://github.com/Kerollmops/heed/blob/a64090feac78f1e97de270cd20caf684b4b7646a/heed/src/env.rs#L22-L27), this way we return the a

[2021-01-28 10:10] Keats commented on #97
PR for #56: https://github.com/Kerollmops/heed/pull/99

The rest is not that important to me so if you're doing a lot of changes, I'll do another PR with the db stat structs later once you're done (unless you beat me to it).

[2021-01-28 13:43] Kerollmops commented on #97
Closed by #100.

[2021-01-28 13:43] #97 closed

[2021-01-28 15:29] jonsecchis commented on #98
Thank you for such a prompt answer, @Kerollmops!

My reasons to migrate from `rkv` and also the reasons why I see `heed` as the absolute go-to wrapper for (L)MDB right now:

1. Reverse iterators without dealing directly with cursors;
2. Transparent environment management, which makes for cleaner call-site code;
3. Typed interface for Databases that is really ergonomic and flexible;
4. Excellent co

[2021-01-28 15:36] akhilles commented on #95
Wasn't able to reproduce using the C library. I think the issue is with nested write transactions. The following patch fixes the issue:

[code]

[2021-01-28 15:37] Kerollmops commented on #98
@jonsecchis, this is so pleasant to receive this kind of answer. You really don't know the time I spend on making heed a better library every day. It will keep being the defacto key-value store MeiliSearch will use in the future, and work will always be done on this library to elevate it again. ❤️

As a little piece of advice, don't use the mdbx backend for now. It would be best to rely on LMDB an

[2021-01-28 15:54] jonsecchis commented on #98
@Kerollmops Believe me, when I read the code, its evident that much sweat and dedication was put into it.

Yes, I came to the same conclusion after trying the `mdbx` feature. It didn't even compile, got a couple of: `the name [x] is defined multiple times` and a `cannot find function abort_txn in this scope` error.

I don't know why, though. Tried cleaning up my cargo directories and building it a

[2021-01-28 16:11] Kerollmops commented on #98
Struggling with the build system of libmdbx was one of the main reasons I want to remove this key-value store's support for heed. But I know that there is a bunch of people who depends on that. Therefore I keep it and will wait for the 0.9.2 of libmdbx version to come out and hopefully fix those build issues.

Yes, that is something that I want to do for such a long time but don't quite where to s

[2021-01-28 16:58] jonsecchis commented on #14
I'm fond of absolute minimalism, so as an alternative, one name that comes to my mind is…

It sounds like LMDB and it has the same length. *KV* is also a very relevant term in the industry. Plus there are nice domain extensions available for it, such as `.io`. If this is something you like, I would gladly donate it to the project and maintain it for at least 2 years. I think the project could real

[2021-01-28 17:55] jonsecchis commented on #51
When I come to think about it, from a maintenance point of view, providing two back-ends in one repository seems like a liability (burden) to me, regardless of the mechanics. It would be a great loss for the `libmdbx` project to not have Heed as a Rust wrapper, but maybe someone can make a fork and maintain the wrapper in an entirely independent manner. That would allow for both projects to be mor

[2021-01-29 17:39] vorot93 opened #105 "Format with merge_imports=true"
Currently this is the only way to get stable deterministic import formatting. I also use it by default in VSCode.

[2021-02-01 01:29] Ralith commented on #41
This is a blocker for me as well, though unfortunately I can't commit time to implement it.

[2021-02-01 01:57] Ralith opened #106 "Segfault on mdbx with small max_dbs"
Repro:
[code]

Increasing `max_dbs` to 20 seems to work around the issue.

[2021-02-01 02:13] Ralith commented on #106
Weirder still, depending on *when* I run that code in my program, even with 20 dbs sometimes the process instead aborts with:

[code]

[2021-06-11 11:01] numToStr opened #107 "mdbx: Unable to compile on windows"
Hi, thank you for making this crate. It's a pleasure to with this crate.

But unfortunately, I am unable to compile my program on windows when using the `mdbx` backend. I am getting the following error.
Also, when I compile with the default features i.e `lmdb` It compiles just fine.

- Error
[code]
- Related GHA: https://github.com/numToStr/ky/runs/2802130235
- Repo: https://github.com/numToStr/ky

[2021-06-11 11:14] erthink commented on #107
libmdbx's README#Windows: ...[do not forget to add `ntdll.lib` to linking](https://github.com/erthink/libmdbx#windows).

[2021-06-11 11:32] numToStr commented on #107
@erthink Thanks for the quick insight. But I am also failing to understand how to link `ntdll.lib` during compilation. Can you tell me how to do it?

Thanks.

[2021-06-11 13:52] erthink commented on #107
`libmdbx` itself provides properly building for all supported platforms, both by Make and by CMake.
So to fix the problem, it is enough to use native build ways, that the library provides.

Please ask @Kerollmops to fix this issue inside https://github.com/Kerollmops/mdbx-rs.
In addition, a very outdated version of libmdbx is used there now, and I strongly recommend updating it.

[2021-06-11 14:04] numToStr commented on #107
Thanks, @erthink for the explanation. Also created https://github.com/Kerollmops/mdbx-rs/issues/1.

[2021-06-28 16:18] Kerollmops opened #111 "Change the lifetimes of the `Iter` types"
[A great idea from @Diggsey](https://github.com/meilisearch/milli/pull/264) to fix https://github.com/Kerollmops/heed/pull/108#issue-678922056, an issue where we were allowing the user to keep reference from inside the database while modifying it at the same time.

It could be a great solution to indeed have differences between the immutable iterators i.e. `RoIter`, `RoPrefixIter`, and the mutable

[2021-07-02 07:17] timokoesters opened #112 "Make more types Send+Sync"
For my program I need Send+Sync on more types because they are used in an async context. Here's an example error for iterators:

It would also be nice if heed::Error was Send+Sync.

Is that possible or do you not support this?

[2021-07-02 19:39] Kerollmops commented on #112
You can move to the v0.10.6 version of this crate where the Error type is `Send` + `Sync` but you'll lose the De/Serialization error info.

However, I didn't implement `Send` for the cursor type as I thought it is unsafe and invalid according to the documentation, as moving a transaction is also invalid.

[2021-07-02 19:40] #112 closed

[2021-07-02 20:56] Kerollmops commented on #111
Hey @Diggsey,

As I told you, I am not sure it is possible to implement this API, [at least in this exact way](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=20c4b563eeb65fe06cba70a55cc3f72e). The problem with it is that it asks for a mutable reference of the database when the cursor itself contains an immutable reference of it already.

[2021-07-02 23:11] Diggsey commented on #111
I read through the LMDB docs, and their model seems to look like this:

- **Database**
  - **Transaction (Up to one per thread).**

    Rust currently has no way to enforce a one-per-thread constraint at compile-time, so this will need to be checked dynamically. This should work in the same way that my `scoped_tls_hkt` crate handles mutable thread-locals.

    Given that you'll need dynamic checki

[2021-07-08 19:24] ShadowJonathan commented on #20
How would this work with `Send` and the likes?

[2021-07-29 16:53] timokoesters opened #115 "Is it possible to avoid nested transactions for create_database?"
https://github.com/Kerollmops/heed/blob/b235e9c3e9984737c967b5de1014b48f125dc28b/heed/src/env.rs#L347

Currently I can't use
             `env_builder.flag(heed::flags::Flags::MdbWriteMap);`
             because that flag doesn't work with nested transactions and create_database uses nested transactions internally

[2021-07-30 08:06] timokoesters commented on #115
It looks like this is a duplicate of #95

[2021-07-30 08:06] #115 closed

[2021-07-30 10:18] Kerollmops commented on #95
@timokoesters that's indeed a duplicate of the the issue you opened recently but I have no plan to fix it. Maybe you could submit a PR, it you do please make sur to start from the right branch (v0.12).

[2021-07-30 18:06] ShadowJonathan opened #117 "Refactor error type to use `thiserror`"
Currently, when trying to convert or use heed for `?`-error purposes, i get the following;

[code]

The error type is a composite enum, which is fine, but it argues it cannot be sent between threads safely because the trait isn't marked, or valid.

I could also ask to wrangle the autotrait in, but i think the error type will also benefit from a bit more readability and maintainance if it's impleme

[2021-07-31 10:10] Kerollmops commented on #117
Hey @ShadowJonathan,

Which version of heed are you using? I wrote the version 0.11 to try using real error types when casting bytes by [using the bytemuck library instead of the zerocopy one](https://github.com/Kerollmops/heed/issues/82). This had great benefits as the `BytesDe/Encode` were able to return `Result`s with a real error type instead of `Option`s helping debug a lot.

However, I miss

[2021-07-31 10:13] ShadowJonathan commented on #117
I'm using @timokoesters's fork, which is based on v0.11, thanks for mentioning the newer version though, I'll poke him to update the fork to that, because we're having problems making it work nicely on windows.

[2021-07-31 10:43] Kerollmops commented on #117
I think that [the PR that @timokoesters has done](https://github.com/Kerollmops/heed/pull/116) is to be merged on the new v0.12 that isn't published on crates.io for now.

If you want you could also stop using the new 0.11 and use v0.12.1 version instead, only this version has the LMDB latest version that works better for Windows.

[2021-08-01 11:06] ShadowJonathan commented on #117
Two questions;

- Do you have an IM handle (discord, twitter, matrix, etc.) where i can contact you on? There's some questions about `heed`'s development which i might want to ask.

- When is that version going to be merged into `master`? Looking at the tag, it's on the `v0.12` branch, which is some commits behind `master`.

[2021-08-02 09:53] Kerollmops commented on #117
Hey @ShadowJonathan,

I just sent you an email with my Discord handle 😃

In fact, the `v0.12` is not real "behind" master, I tried some funny things on the `v0.11` version (master) and I wasn't quite satisfied by the result (I want GAT to be out in stable Rust 😫). Then we discovered that the LMDB version that is binded by Mozilla in `lmdb-rkv-sys` was quite old and therefore didn't include most fi

[2021-08-02 10:06] ShadowJonathan commented on #117
Alright, I still got some questions about `master`, but I'll ask them over IM

Back to the topic at hand; I think I'll probably make a PR which closes this, and makes error handling a bit less tedious (and more ergonomic rust) with `thiserror`, the "correct" error trait bounds would be a side effect then, but I just think using `thiserror` could be a boon.

[2022-01-19 19:18] stevemk14ebr commented on #41
this is how I did this: https://github.com/Kerollmops/heed/pull/59

[2022-01-20 09:57] Kerollmops commented on #41
I advise people who need this feature to use the PR of @stevemk14ebr #59, as I have no time to review it and I know that it can introduce issues when using the crate in a wrong way i.e. normal iterator on a duplicate database or vice-versa.

[2022-07-06 09:46] Kerollmops opened #127 "Rework heed to be lightweight and simpler to maintain"
- [x] Create a sub-crate for lmdb-sys in this repository, based on the `mdb.master.3` branch of LMDB.
- [x] Move from zerocopy to bytemuck (also related to licensing). https://github.com/meilisearch/heed/issues/82
- [ ] Be able to use `MDB_WRITEMAP` with heed to create databases. https://github.com/meilisearch/heed/pull/116
- [x] Remove the generic types of the `RoTxn` and `RwTxn`. https://github.

[2022-07-17 13:44] Palmik opened #129 "Is it possible to get range working with slice types?"
All the slice types define `EItem = [T]`, since `[T]` is not Sized, `RangeFrom<&[T]>` (and others) do not implement `RangeBounds`.
Is there some workaround that I am missing?

My use case is a simple key like `[u8; N]` or `Vec<u8>`, etc.

[2022-07-18 06:07] curquiza commented on #129
Hello @Palmik
I think @Kerollmops or @irevoire can answer this! They just went on Holiday, so sorry in advance for the delay in answering 🙏

[2022-08-01 17:32] hermeGarcia opened #130 "Assertion 'root > 1' failed in mdb_page_search()"
Hi there!
I am building a system that uses heed and while running some tests it prints the following and then crashes:
[code]
To me it is unclear why sometimes the error pops up and sometimes it does not. My tests are really simple, is just one thread storing data and reading it.  Could someone explain to me what this error means?

[2022-08-11 15:59] irevoire opened #132 "Make the `EnvOpenOption` available."
Currently, we can specify the `EnvOpenOption` when starting heed, but then we can’t query them.
It would be cool to have a wrapper around [`mdb_env_info`](http://www.lmdb.tech/doc/group__mdb.html#ga18769362c7e7d6cf91889a028a5c5947).

[2022-08-23 08:52] Kerollmops commented on #129
Hey @Palmik,

I understand that it is quite complex to use and we would like to rewrite a big part of heed and the `BytesEncode/BytesDecodee` traits. In the meantime, you should be able to give a reference of your range type to make it work.

[code]

[2022-08-23 09:02] hermeGarcia commented on #130
Hi!
I changed the approach a couple of days after reporting this bug, but I have been able to recover the part of the code that was giving problems. You can find it in [this gist](https://gist.github.com/hermeGarcia/c4546e58a7b6d90710ffba256a3835b0).
I was not able to reproduce the bug consistently, but the test was a single thread adding nodes, labelling them and doing several prefixed searches (

[2022-08-23 09:26] Kerollmops commented on #130
Hey!

Thank you very much, but would it be possible also to specify the main function that does what you describe?
Also, which version of heed are you using?

[2022-08-23 09:47] hermeGarcia commented on #130
I had the following in my Cargo.toml:
`heed = { version = "0.11.0", default-features = false, features = ["lmdb", "sync-read-txn"] }`
I also tried to use the github version instead of the crates.io one, the bug was still there.
With respect to the test that was causing problems you can find it [here](https://github.com/nuclia/nucliadb/blob/31282e23e29a22e21d270c564eae0e22d99ce797/nucliadb_vectors2

[2022-09-15 14:11] #55 closed

[2022-09-15 14:11] #106 closed

[2022-10-26 23:44] joshlf commented on #82
Hi @Kerollmops , just wanted to let you know that [zerocopy is on GitHub now](https://github.com/google/zerocopy) in case there are still zerocopy features that would be useful to you (like byteorder-aware types). If not, of course disregard this message 🙂

[2022-10-27 18:31] Kerollmops commented on #82
Thank you very much @joshlf,

Is there a page that compares both crates feature-wise? The only issue that I found is [this one on bytemuck](https://github.com/Lokathor/bytemuck/issues/13). I'll evaluate both crates.

Note that [I will release a new version of heed](https://github.com/meilisearch/heed/pull/128) with a lot of things rewritten and this choice between heed and bytemuck will be the las

[2022-10-27 21:38] joshlf commented on #82
At this point, we've both adopted features from each other, so it really depends on your specific use cases. If you can describe specific use cases, I can try to speak to what the two crates provide for those use cases (with the obvious bias that I know zerocopy a lot better than I know bytemuck), but I don't maintain a comparison page. For the current state of zerocopy, I'd check out our [latest

[2022-11-10 11:23] dureuill opened #135 "OS Error 22: invalid argument when opening transactions on threads"
**Bug description**

When running the following example using heed, we get unwraps of error 22: invalid argument:

[code]

(see the [associated repository](https://github.com/irevoire/heed-bug) for more information)

## Raw lmdb reproducer

The issue can be further minimized in C, **directly using the master branch (not master3) of lmdb instead of heed**, with the following:

[code]

(see the [ass

[2022-11-10 11:24] irevoire commented on #135
This issue seems directly related to lmdb and not heed.
@hyc do you think you could look into it?

[2022-11-10 12:10] hyc commented on #135
http://www.lmdb.tech/doc/
Caveats
    Do not have open an LMDB database twice in the same process at the same time.

[2022-11-10 12:22] hyc commented on #135
Works fine here
`
hyc@Howards-MacBook-Pro xyz % ./prog
Starting tmp_env_0
Starting tmp_env_5
Starting tmp_env_6
Starting tmp_env_2
Starting tmp_env_7
Starting tmp_env_3
Starting tmp_env_4
Starting tmp_env_1
Starting tmp_env_8
Starting tmp_env_9
ok env
ok env
ok env
ok env
ok env
ok env
ok env
ok env
ok env
ok env
ok!
hyc@Howards-MacBook-Pro xyz % uname -a
Darwin Howards-MacBook-Pro.local 21.1.0 Da

[2022-11-10 12:34] dureuill commented on #135
Ah, sorry, I used 10 threads in the linked example, but you need at least 11 to see the issue (at least on Mac M1).

I updated the example in the repository and in the issue description above.

[2022-11-10 17:16] hyc commented on #135
It's failing in LOCK_MUTEX, which defaults to using semop() on MacOS.
The manpage says

[code]

So this appears to be an OS limitation. No idea if/how that's tunable, I leave that up to you.

[2022-11-10 17:30] hyc commented on #135
Instead of using the default SysV Semaphores, you can compile mdb.c with -DMDB_USE_POSIX_SEM and this problem goes away. Unfortunately POSIX semaphores on MacOS aren't robust, killing a process that holds a semaphore will leave it locked.

[2022-11-10 17:41] irevoire commented on #135
And thus, if I understood correctly, limiting our number of threads to 10 would work?

[2022-11-10 18:18] Kerollmops commented on #135
Meilisearch is not specifically creating one environment by thread, but when we run the tests, it produces this behavior as the tests are run in parallel. So the easy fix for that is to reduce the number of tests run at the same time.

The real issue is that on arch Linux, we had another issue returning an _os error 22_: we can't create any Meilisearch index on this OS. We will see if the above mi

[2022-11-10 18:23] hyc commented on #135
Or run tests in separate processes instead of separate threads.

[2022-11-14 12:40] dureuill commented on #135
Thank you for your insight, hyc, you pinpointing which resource is limited was really helpful.

Some points about this issue:

- It appears unrelated to the archlinux error 22 (meilisearch/meilisearch#3017), which appears to be an `lmdb-rs` build issue (uses system ldmb instead of vendored lmdb, see [this comment](https://github.com/meilisearch/meilisearch/issues/3017#issuecomment-1313624494) for